.bgimg_5 {
    background-image: url("../Images/bgimg_5.jpg");
    min-height: 400px;
}

.bgimg_6 {
    background-image: url("../Images/bgimg_6.jpg");
    min-height: 400px;
}

.ongoingDiv {
    color: #777777;
    background-color: white;
    padding: 50px 0px;
    margin: 0 auto;
    width: 50%;
}

button.accordion {
    background-color: #eeeeee;
    color: #444444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: '\2796';
}

.search_input {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px;
    transition: width 0.4s ease-in-out;
}

button.active, button:hover {
    background-color: #dddddd;
}

form {
    width: 30%;
    margin: 0 auto;
}

.container {
    padding: 16px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    margin: 5px 5px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    width: auto;
    outline: 0;
}

.ongoingTable {
    text-align: left;
    font-size: 14px;
    padding: 0;
    border: hidden;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    color: #777777;
}

ul.tab li a:hover {
    background-color: #dddddd;
}

ul.tab li a:focus, .active {
    background-color: #cccccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}