.bgimg_9 {
    background-image: url("../Images/bgimg_9.jpg");
    min-height: 400px;
}

.bgimg_10 {
    background-image: url("../Images/bgimg_10.jpg");
    min-height: 400px;
}

input.copyImage {
    transition: 0.1s ease-in-out;
    opacity: 0;
}

.LinkButton {
    font-size:16px;
    background-color: #eeeeee;
    color: #777777;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
}